NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 5 ns HIGH 50%;

# Multicycle paths
NET "chk_en_8" TNM_NET = GRP_SLOW8;
TIMESPEC TS_SLOW8 = FROM "GRP_SLOW8" TO "GRP_SLOW8" TS_CLK * 8;

NET "chk_en_9" TNM_NET = GRP_SLOW9;
TIMESPEC TS_SLOW9 = FROM "GRP_SLOW9" TO "GRP_SLOW9" TS_CLK * 9;
